@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: #221f1f;
}

p {
    font-family:'Itim', 'Courier New', Courier, monospace;
    color: antiquewhite;
}

h1 {
    font-family: 'Fredoka One', 'Courier New', Courier, monospace;
}

#presentacion {
    background-image: linear-gradient(to bottom, rgb(153, 0, 224) , #43005e);
    box-shadow: 0px 5px 20px rgb(245, 137, 255);
    width: 600px;
    height: 300px;
}

img {
    filter: drop-shadow(0px 15px 20px black);
}

#boton-juegos {
    background-image: linear-gradient(to bottom, orange, #7c5100);
    width: 50%;
    height: 100%;
    font-family: 'Itim','Courier New', Courier, monospace;
    box-shadow: 0px 5px 20px rgb(255, 166, 0);
    border: 0%;
}

.banner {
    color: antiquewhite;
    font-size: x-large;
    border-radius: 5%;
    text-shadow: 0px 5px 20px black;
    align-items: center;
    padding: 2%;
    margin-bottom: 100px;
    display: flex;
    margin: 0 auto;
}
