@import url("style.css");

.cuadros_texto {
    text-align: center;
    padding: 2%;
}

#mision {
    background-color: #FCFBEC;
    color: #DA95AA;
}

#vision {
    background-color: #BBCADB;
}

#identidad {
    background-color: #F2BED1;
}

img {
    max-width: 125px;
    max-height: auto;
}

figure {
    justify-content: center;
    align-items: center;
    display: flex; 
    text-align: center;
}