@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Bold', 'Courier New', Courier, monospace;
    padding: 30px;
    text-align:center;
}

u {
    text-decoration: none;
    background-color:#D62766;
    padding: 3px;
}

li {
    padding: 10px;
}

img {
    display: grid;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px;
}

h1 { background-color: #844561; }

h2 { background-color: #F2BED1; }

h3 { background-color: #BBCADB; }

h4 {
    border-color: antiquewhite; 
    padding: 10px;
}

p, figcaption, button, select, li, a, address {
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

body {
    background-color: #DA95AA;
    color:white;
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

select, button{
    background-color: #844561;
    border-color: transparent;
    color: antiquewhite;
    padding: 1%;
    text-align: center;
    margin-bottom: 5%;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #135188;
    display: flex;
}

footer a {
    color: white;
}

#indice {
    display: grid;
    place-items: center;
}

.siguiente {
    margin-right: auto;
}

.menu {
    display: inline-block;
    margin: auto;
}

.atras {
    margin-left: auto;
}

button:hover, select:hover {
    background-color: #135188;
}

.pregunta {
    color: #881351;
}

.oracion {
    display: grid;
    text-align: center;
    color: #885567;
}

.guia {
    text-decoration: none;
    background-color:#B8CAD8;
    padding: 3px;
}

.todos {
    text-decoration: none;
    background-color:#881351;
    padding: 3px;
}

.footer-image {
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
}

@media (max-width: 600px) {
  footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #135188;
    display:block;
    }

    .footer-image {
    margin: 0 auto;
}
}

/*
esquema de colores:
(Colecta anual)
#DA95AA - rosa
#885567 - morado - h1
#FEE5B6 - piel

Paleta de colores estandar:
#135188 - azul fuerte
#BBCADB - azul bajito
#FCFBEC - blanco
#F8EE35 - amarillo
#D62766 - violeta
#F2BED1 - rosita bajito
*/