@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

p, h1 { color: antiquewhite; }

h1 { font-family: 'Montserrat-Bold', 'Fredoka One', 'Courier New', Courier, monospace; }

p { font-family: 'Montserrat', 'Itim', 'Courier New', Courier, monospace; }

body { background-color: #dc83aa; }

#boton-juegos { background-color: brown; }

#boton-lecturas { background-color: aquamarine; }

img {
    width: 40%;
    height: auto;

}

#logo_caritas {
    margin: auto;
    width: 100%;
    padding: 10px;
    max-width: 500px;
    max-height: 500px;
}

#presentacion {
    background-color: #844561;
    max-height: 300px;
    font-size: 100%;
}

#tematicas button {
    width: 50%;
    height: 100%;
    border: none;
}

#gato_catolico {
    border-radius: 20%;
    padding: 1%;
    width: 20%;
    height: auto;
}

.banner {
    align-items: center;
    padding: 2%;
    display: flex;
    margin-top: 10%;
}