@import url("style.css");

.cuadros_texto {
    text-align: center;
    padding: 2%;
}

#mision {
    background-color: #b4ad23;
}

#vision {
    background-color: #135188;
}

#identidad {
    background-color: #D62766;
}

img {
    max-width: 125px;
    max-height: auto;
}

figure {
    justify-content: center;
    align-items: center;
    display: flex; 
    text-align: center;
}