@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: #221f1f;
}

p {
    font-family:'Itim', 'Courier New', Courier, monospace;
    color: antiquewhite;
    text-shadow: 0px 5px 20px black;
}

h1 {
    font-family: 'Fredoka One', 'Courier New', Courier, monospace;
    color: antiquewhite;
    text-shadow: 0px 5px 20px black;
}

#presentacion {
    background-image: linear-gradient(to bottom, rgb(153, 0, 224) , #43005e);
    box-shadow: 0px 5px 20px rgb(245, 137, 255);
    width: 600px;
    height: 300px;
}

img {
    filter: drop-shadow(0px 15px 20px);
}

#tematicas button {
    width: 50%;
    height: 100%;
    border: none;
    transition: transform 0.2s ease;
}

#tematicas button:hover {
    transform: scale(1.1);
}

#boton-juegos {
    background-image: linear-gradient(to bottom, orange, #7c5100);
}

#boton-lecturas {
    background-image: linear-gradient(to bottom, rgb(0, 185, 209), #00787c);
}

.banner {
    font-size: x-large;
    border-radius: 5%;
    align-items: center;
    padding: 2%;
    margin-bottom: 100px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.perfiles {
    border-radius: 20%;
    padding: 0.5cm;
}